
scripts/.settings/language.settings.xml
*.su
*.o
*.o
*.map
*.list
*.hex
*.elf
2-Design/3-Detailed-Design/2-Source-Code/Lenna-Bardia-MCU-Board/Debug/Core/Src/pid.o
2-Design/3-Detailed-Design/2-Source-Code/Lenna-Bardia-MCU-Board/Debug/Core/Src/main.o
2-Design/3-Detailed-Design/2-Source-Code/Lenna-Bardia-MCU-Board/Debug/Core/Src/pid.o
2-Design/3-Detailed-Design/2-Source-Code/Lenna-Bardia-MCU-Board/Debug/Lenna-Bardia-MCU-Board.elf
2-Design/3-Detailed-Design/2-Source-Code/Lenna-Bardia-MCU-Board/Debug/Lenna-Bardia-MCU-Board.list
2-Design/3-Detailed-Design/2-Source-Code/Lenna-Bardia-MCU-Board/Debug/Lenna-Bardia-MCU-Board.hex
2-Design/3-Detailed-Design/2-Source-Code/Lenna-Bardia-MCU-Board/Debug/Lenna-Bardia-MCU-Board.map
